@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    height: 100%;
    background-color: #f1f5f9;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f172a;
  /* border-radius: 0 0.75rem 0.75rem 0; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

/* @media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
} */
